body {
    margin-left: 20%;
}

.rand {
    font-size: 17px;
    color: rgb(71, 67, 67);
}
.ll{
    font-size: 19px;
    color: rgb(108, 101, 101);
    font-weight: bold;  
}
.content{
    margin-left: 30%;
    margin-top: 5%;
}


.checkbox-container,
.radio-container {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"],
.radio-container input[type="radio"] {
    display: none;
}

.custom-checkbox,
.custom-radio {
    width: 130px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(181, 181, 181);
    cursor: pointer;
    border-radius: 2.5rem;
    display: inline-block;
    text-align: center;
    color: rgb(33, 3, 3);
    font-size: medium;
    padding: 10px 5px 5px 5px;
}

.custom-checkbox.checked,
.custom-radio.checked {
    background-color: #eeeff2;
    /* Change the color as desired */
}
.rounded-button {
    align-items: center;
    background: rgb(244, 109, 60);
    font-size: 18px;
    border-radius: 2.5rem;
    box-sizing: border-box;
    color: white;
    display: inline-flex;
    gap: 0.3em;
    justify-content: center;
    height: 2em;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 37%;
    margin-top:50px;
}

.rounded-button:hover {
    background-color: #d55526;
    /* Change the hover color as desired */
}

button:where(:enabled) {
    cursor: pointer;
}

.continue-logo {
    width: 15px;
    /* Adjust the size of the logo as desired */
    height: 15px;
    margin-right: 0px;
    /* Adjust the spacing between the logo and text */
}